/* ----- Main frame ----- */

.container {
    height: 100vh;
    width: 100%;
    background-color: #faf9f8;
    grid-gap: 10px;
    display: grid;
    font-family: 'Poppins', sans-serif;
}

.header{
    grid-area: he;
    background-color: black;
    display: none;
}

.main{
    grid-area: ma;
    background-color: #faf9f8;
    display: none;
}


.nav{
    grid-area: na;
    background-color: black;
    display: none;
}


.section1{
    grid-area: s1;
    display: none;
}

.section2{
    grid-area: s1;
    display: none;
}

.slider{
    display: none;
}



.footer{
    grid-area: fo;
    background-color: black;
    display: none;


}


/* ----- Main frame ----- */





/* ------    Mobil       -----------*/
@media only screen and (max-width: 376px){
    .container{
        grid-template-areas: 
        'he he he he he'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'fo fo fo fo fo'
        ;
    }
   
   
    .header{
        display:block;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .box1{
        background-color: wheat;
        padding: 10%;
    }

    .box2{
        background-color: wheat;
        padding: 10%;
    }

    .main{
        display:block;
        display: flex;
        flex: none;
        flex-direction: column;
        justify-content: space-around;
        


    }


    .section1{
        display: block;
        background-image: url("../img/wengang-zhai-_fOL6ebfECQ-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        height: 60%;
        width: 100%;
        align-content: flex-start;
        flex-wrap: wrap;
    
        
    }

    .row{
        margin: 2vh;
        position: relative;
        color:#171717;
        font-weight:bolder;
        top: -10px;
    }
    .row h1{
        
        font-size: 20px;
        line-height: 12px;
        white-space: nowrap;
        
    }

    .row p{
        font-size: 14px;   
        text-shadow: white 0px 0px 10px;    


    }

    .buy-btn{
        display: inline-block;
        color: white;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: #171717;
        font-size: 13px;
        box-shadow:none;
        text-decoration: none;
    }
    .section2{
        display: block;
        color: wheat;
        height: 40%;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }

    .title{
        text-transform: uppercase;
        color: black;
        font-weight: 900 ;
    }

    .border_line{
        display: block;
        width: 160px;
        height: 3px;
        background-color: orange;
    }

    .slider{
        display: block;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        color: black;
        gap: 10px;
        line-height: 1.45px;
        font-weight:400 ;
    }

    .slider img{
        width:  60px;
        height: 60px;
        border-radius: 50%;
    }

    .footer{
        display:block;
    }

}
/* ------    Mobil       -----------*/





/* ------- Desktop ---------*/
@media only screen and (min-width: 377px){
    .container{
        grid-template-areas: 
        'he he he he he'
        'na na na na na'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'fo fo fo fo fo'
        ;
    }
   
    .main{
        display:block;
    }
    .footer{
        display:block;
    }
    .header{
        display:block;
    }
    
    .nav{
        display: block;
    }
}

    

