/* ----- Main frame ----- */

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.container {

    background-color: #F2F2F7;
    grid-gap: 10px;
    display: grid;
    font-family: 'Poppins', sans-serif;
}




.col-1 img{
 max-width: 25vw;
 height: 40vh; 
 width: 90%;

}



.header{
    grid-area: he;
    display: none;
}

.desktop-menu{
    display:none;
}

.menu{
    display: none;
}
.main{
    grid-area: ma;
    display: none;
}




/*-----------------Contact us mobile/desktop ------*/

.contact-section{
    padding: 40 px 0;
}

.contact-section h1{
    text-align: center;
    color: #18181a;
}

.border{
    width: 100px;
    height: 10px;
    background-color: orange;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarena.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: #2980b9;
}



/*-----------------Contact us mobile/desktop ------*/

.section1{
    grid-area: s1;
    display: none;
}

.section2{
    grid-area: s1;
    display: none;
}

.slider{
    display: none;
}

.info-desktop{
    opacity: 0;
}

.info-mobile{
    display: none;
}

.footer{
    grid-area: fo;
    width: 100%;
    display: block;
    overflow: hidden;
    pad: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    margin-top: 20px;
}

.inner_footer .logo{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    margin-top: 1rem;
}

.inner_footer .logo img{
    width: 65px;
    height: auto;
    filter: invert(100%);
}

.inner_footer .footer_third{
    width: calc(21,6666666667% -20px);
    margin-left: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child{
    margin-right:0;
}

.inner_footer .footer_third h1{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
}   

.inner_footer .footer_third span{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    display: block;
}


/* ----- Main frame ----- */





/* ------    Mobil       -----------*/
@media only screen and (max-width: 376px){
    .container{
        grid-template-rows: 7.5vmax auto auto auto auto;
        grid-template-areas: 
        'he he he he he'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'fo fo fo fo fo'
        ;
    }
   
   
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .box1{
        padding-left: 5vw;
    }

    .box2{
        padding-right: 5vw;
        display: flex;
        justify-content: space-evenly;
    }

    .box2 i{
        font-size: 33px;
    }



    .menu{
        height: 100vh;
        width: 80vw;
        background:	#18181a;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        flex-direction: column;
        display: flex;
        }

    .hamburger-menu{
        cursor: pointer;
        display: inline;
    }

    .hamburger-menu i.material-icons{
        font-size: 2.5rem;
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .burger-s{
        font-size: 20px;
        height: 62px;
        line-height: 62px;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10%;
        color:#BDBDBD;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }


    .fade-layer.visible{
        display: block;
    }


    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 130vh;

    }


    .section1{
        background-image: url("../img/wengang-zhai-_fOL6ebfECQ-unsplash.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        height: 60%;
        align-content: flex-start;
        flex-wrap: wrap;
        margin: 0 10px;
        background-position: 40%;   
        object-fit: scale-down;
    }

    .row{
        margin: 2vh;
        position: relative;
        color:#171717;
        top: -10px;
    }
    .row h1{
        color:rgba(0,0,0,0.87);
        font-size: 12vw;
        line-height: 12px;
        white-space: nowrap;
        max-width: 75vw;
    }

    .row p{
        color:rgba(0,0,0,0.65   );
        font-size: 16px;   
        text-shadow: #faf9f8 0px 0px 10px;    
        font-weight: 500;


    }

    .buy-btn{
        margin-top:1rem;
        display: inline-block;
        color: rgba(0,0,0,0.87);
        padding: 5px 10px;
        border-radius: 30px;
        background-color: #FFCC80;
        text-decoration: none;
        font-size: 8vw;
        font-weight: 600;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    }
    .section2{
        display: block;
        width: 100%;
        height: 40%vh;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .title{
        text-transform: uppercase;
        color: rgba(0,0,0,0.87);
        font-weight: 600;
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    .border_line{
        display: block;
        width: 170px;
        height: 3px;
        background-color: orange;
        margin: 8px;
    }

    .slider{
        margin-top: 2.5rem ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        color: rgba(0,0,0,0.65);
        gap: 2rem;
        line-height: 1.45px;
        font-weight:400 ;
        font-family: 'Lato', sans-serif;
        font-size: 100px;
        flex-wrap:wrap;
        margin-left: 3rem ;
        margin-right: 3rem ;
    }

    .slider p{
        font-size: 30px;
        display: block;
    }

    .slider img{
        width:  72px;
        height: 72px;
        border-radius: 50%;
    }

    .info-desktop{
        display: none;
    }

    /*-------Index.html(end)----*/
    /*------clothes(start----*/

    .main-2{
        grid-area: ma;
        height: auto;
        width: 100%;
        display: grid;
        position: relative;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 
        'smk smk smk smk'
        'sms sms sms sms'
        'smj smj smj smj'
        'smt smt smt smt'
        ;
 
    }
 
    .small-container-kids{
        grid-area: smk;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
 
 
    .small-container-jeans{
        grid-area: smj;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
 
    .small-container-shoes{
        grid-area: sms;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
 
    .small-container-shirts{
        grid-area: smt;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
 
 
    .col-1{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        background-color: white;
        align-items: center;
        border-radius: 5px;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 10px;
        min-width: 80vw;
    }
        
    .col-1 img{
        width: 100%;
        min-width: 80vw;
    }
 
    .col-1 h4{
        height: 3px;
    }

    .rating .fa{
         color: orange;
    }
    
     /*-----------------cloth desktop (end)------*/

     /*-----------------Contact us desktop (start)------*/
    .main-3{
       grid-area: ma;
    }
    /*-----------------Contact us desktop (end)------*/

    .footer .inner_footer{
        width: 90%;
    }

    .inner_footer .logo,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }

    .logo{
        max-height: 66px;
        max-width: 66px;
    }

    .inner_footer .footer_third{
        height: auto;
    }


}
/* ------    Mobil       -----------*/





/* ------- Desktop ---------*/
@media only screen and (min-width: 377px){
    .container{
        width: 100%;
        grid-template-areas: 
        'he he he he he'
        'na na na na na'
        'ma ma ma ma ma'
        'ma ma ma ma ma'
        'fo fo fo fo fo'
        ;
    }
   
    .header{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .box1{
        display: none;
    }

    .box2{
        display: flex;
    }

    .desktop-menu{
        grid-area: na;
        display: flex;
        justify-content: space-evenly;
    }

    .burger-s{
        text-decoration: none;
    }

    .main{
        display:block;
        height: 150vh;
    }

    .section1{
        background-image: url("../img/paul-gaudriault-a-QH9MAAVNI-unsplash\ \(1\)\ \(1\).jpg");
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        height: 70vh;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 20px 10px;
        background-position: 40%;   
        border-radius: 5px;
    }



    .buy-btn{
        margin-top:1rem;
        display: inline-block;
        color: rgba(0,0,0,0.87);
        padding: 5px 10px;
        border-radius: 15px;
        background-color: #FFE0B2;
        text-decoration: none;
        font-size: 4vw;
        font-weight: 600;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vh;
        position: relative;
        top: -10px;
    }
    .row h1{
        color:rgba(0,0,0,0.87);
        font-size: 5vw;
        line-height: 1px;
        white-space: nowrap;
        max-width: 75vw;
    }

    .section2{
        display: block;
        height: 70vh;
        width: 100%;
        position: relative;
        
    }



    .slider{
        margin-top: 4.5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .title {
        display:none;    
    }


    .card img{
        width:  200px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }

    .card{
        width:  200px;
        height: 300px;
        transition: all 0.5s ease-in-out;  
        cursor: pointer;
        display: flex;
    }


    .card:hover{
        transform: translateY(20px);  
        filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
        
    }

    .card:hover .info-desktop {
        opacity: 1;
   }
    
   .card:hover img {
    filter: brightness(50%);
}

   .info-desktop{
       position: fixed;
       transition: all 0.3s ease-in-out;
       color: #fff;
       margin-left: 8px;

   }

   .info-btn{
    margin-top:1rem;
    display: inline-block;
    color: rgba(0,0,0,0.87);
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FF9800;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
   }
   /*--------------- Index.html (end) -------------*/
   /*--------------- Clothes.html (start)-------------*/

   .main-2{
       grid-area: ma;
       height: 280  vh;
       width: 100%;
       display: grid;
       position: relative;
       grid-template-columns: 25% 25% 25% 25%;
       grid-template-areas: 
       'smk smk smk smk'
       'sms sms sms sms'
       'smj smj smj smj'
       'smt smt smt smt'
       ;

   }

   .small-container-kids{
    grid-area: smk;
    display: flex;
    justify-content: space-evenly;
   }


   .small-container-jeans{
    grid-area: smj;
    display: flex;
    justify-content: space-evenly;
   }

   .small-container-shoes{
    grid-area: sms;
    display: flex;
    justify-content: space-evenly;
   }

   .small-container-shirts{
    grid-area: smt;
    display: flex;
    justify-content: space-evenly;
   }


   .col-1{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        background-color: white;
        align-items: center;
        border-radius: 5px;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 10px;
        cursor: pointer;
   }
        
   }
   .col-1 img{
     max-width: 45vw;
     height: 40vh; 
     width: 100%;

   }
   .rating .fa{
        color: orange;
        margin-top: 15px;
   }

   /*--------------- Clothes.html (end)-------------*/
   /*-----------------Contact us desktop (start)------*/
   .main-3{
       grid-area: ma;
   }
    /*-----------------Contact us desktop (end)------*/
    .footer{
        display:block;
    }
    
}

    

